<!DOCTYPE html>
<html>
    <head>
        <title>Anagram Checker</title>
    </head>
    <body>
        <form class="form-group" action="/display_anagrams" method="get">
            <label for="word">Enter word:</label>
            <input name="word" id="word" type="text">
            <br>
            <label for="word-list">Enter possible anagrams to check:</label>
            <input name="word-list" id="word-list" type="text">
            <br>
            <button type="submit" name="submit-button">Enter</button>
        </form>

        <a href="/">Home</a>
        <a href="/display_anagrams">Another Page </a>
    </body>
</html>
