<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Anagram Checker</title>
    </head>
    <body>
        <h1>Anagram Checker</h1>
        {% for item in results %}
            {{ item }}
        {% endfor %}
    </body>
</html>
